:root {
 --primary-green: #6aaa64;
 --dark-green: #538d4e;
 --primary-yellow: #c9b458;
 --dark-yellow: #b59f3b;
 --light-gray: #d8d8d8;
 --primary-gray: #86888a;
 --dark-gray: #939598;
 --primary-black: #212121;
 --light-black: #333;
}
