@import '../../styles/globals.css';

.keyboard {
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 max-width: 400px;
 margin: 1rem auto;
}

.keyboard > button{
 display: flex;
 align-items: center;
 justify-content: center;
 background: var(--light-gray);
 width: 60px;
 height: 40px;
 padding: 1rem;
 margin: 0.2rem;
 border-radius: 6px;
 cursor: pointer;
 opacity: 0.9;
 outline: none;
 border: none;
}

.keyboard > button span{
    font-weight: 600;
    font-size: 16px;
}

.keyboard > button:hover {
 opacity: 1;
}

.keyboard > button.gray {
 background: var(--primary-gray);
 color: white;
}

.keyboard > button.yellow {
 background: var(--primary-yellow);
 color: white;
}

.keyboard > button.green {
 background: var(--primary-green);
 color: white;
}

.keyboard > .listen_button{
    background: dodgerblue;
    color: #FFF;
    font-size: 18px;
}